<footer>
    <!--Newsletter Area Start-->
    {{#if @labs.subscribers}}
        <div class="bg-primary py-3 py-md-5 border-bottom border-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 h2 text-white font-weight-bold">
                        Долучитися до команди
                    </div>
                    <div class="col-md-6">
                        {{subscribe_form}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    <!--End of Newsletter Area-->

    <!--Footer Widget Area Start-->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="single-footer-widget">
                        <h3>Контакти</h3>
                        <a href="tel:555-555-1212"><i class="fa fa-phone"></i>+380 (50) 123-12-12</a>
                        <a href="mailto:gnap.ua@gmail.com"><i class="fa fa-envelope"></i> gnap.ua@gmail.com</a>
                        <a href="{{@blog.url}}"><i class="fa fa-globe"></i> gnap.org.ua</a>
                        <span><i class="fa fa-map-marker"></i>Україна, м. Київ</span>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="single-footer-widget">
                        <h3>Ми в соцмережах</h3>
                        {{#if @blog.facebook}}
                            <a href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener"><i class="fab fa-facebook"></i> Facebook</a>
                        {{/if}}
                        {{#if @blog.twitter}}
                            <a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i> Twitter</a>
                        {{/if}}
                        <a href="{{@blog.url}}/rss/" target="_blank" rel="noopener"><i class="fa fa-rss"></i> RSS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="single-footer-widget">
                        <h3>Наші проекти</h3>
                        <a href="https://pidsud.gnap.org.ua">ПідСуд</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Footer Widget Area-->
    <div class="bg-secondary">
        <div class="container py-3">
            <div class="row">
                <div class="col-6">
                    <a href="{{@blog.url}}" class="text-white">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
                </div>
                <div class="col-6 text-right">
                    Created by <a href="mailto:sartorua@gmail.com" class="text-white">Sartor</a>
                </div>
            </div>
        </div>
    </div>

</footer>