<div class="col-lg-4 col-md-6 col-12">
    <div class="single-latest-item {{post_class}}">
        {{#if feature_image}}
        <div class="single-latest-image">
            <a href="{{url}}">
                <img src="{{feature_image}}" alt="{{title}}">
                {{#if primary_tag}}
                    <span class="badge badge-primary">{{primary_tag.name}}</span>
                {{/if}}
            </a>
        </div>
        {{/if}}
        <div class="single-latest-text">
            <h3>
                <a href="{{url}}">{{title}}</a>
            </h3>
            <small class="text-muted">
                <time><i class="fa fa-calendar"></i> {{date format="DD MMMM YYYY"}}</time>
                <span class="pl-2"><i class="fa fa-clock"></i> {{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>
            </small>
            <p>{{excerpt words="33"}}</p>
            <a href="{{url}}" class="btn btn-lg btn-primary rounded" title="Читати далі {{title}}">Читати далі...</a>
        </div>
    </div>
</div>