{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-5">
                {{#if profile_image}}
                    <img src="{{profile_image}}" class="img-thumbnail" alt="{{name}}" />
                {{/if}}
            </div>
            <div class="col-12 col-md-7">
                <h1 class="section-title">{{name}} <small class="text-muted">{{plural ../pagination.total empty='Нема постів' singular='% пост' plural='% постів'}}</small></h1>
                {{#if bio}}
                    <h3>{{bio}}</h3>
                {{/if}}
                <hr>

                <ul class="list-unstyled">
                    {{#if location}}
                        <li><i class="fa fa-map-marker"></i> {{location}}</li>
                    {{/if}}
                    {{#if website}}
                        <li><a href="{{website}}" target="_blank" rel="noopener"><i class="fa fa-globe"></i> {{website}}</a></li>
                    {{/if}}

                    {{#if twitter}}
                        <li><a href="{{twitter_url}}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i> Twitter</a></li>
                    {{/if}}

                    {{#if facebook}}
                        <li><a href="{{facebook_url}}" target="_blank" rel="noopener"><i class="fab fa-facebook"></i> Facebook</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
{{/author}}

<div class="latest-area">
    <div class="container">
        <h2 class="subsection-title">Публікаціі автора</h2>
        <div class="row">
            {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</div>
