{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<div class="container">
    <div class="col-lg-9 mx-auto" >
        <article class="{{post_class}}">
            <div class="row text-muted mt-5">
                <div class="col-6">
                    <time datetime="{{date format="YYYY-MM-DD"}}"><i class="fa fa-calendar"></i> {{date format="D MMMM YYYY"}}</time>
                </div>
                {{#primary_tag}}
                    <div class="col-6 text-right">
                        <a href="{{url}}">{{name}}</a>
                    </div>
                {{/primary_tag}}

            </div>
            <h1 class="section-title my-4">{{title}}</h1>

            {{#if feature_image}}
                <figure class="my-3">
                    <img src="{{feature_image}}" class="w-100" alt="{{title}}">
                </figure>
            {{/if}}

            <section>
                {{content}}
            </section>
            <footer>
                {{#has author="count:>1"}}
                    {{> "byline-multiple"}}
                {{else}}
                    {{> "byline-single"}}
                {{/has}}
            </footer>
        </article>
    </div>
</div>

{{!-- Links to Previous/Next posts --}}
{{#if primary_tag}}
    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" order="published_at desc" as |related_posts|}}
        {{#if related_posts}}
            <div class="latest-area">
                <div class="container">
                    <h2 class="subsection-title">{{t "Related posts"}}</h2>
                    <div class="row">
                        {{#foreach related_posts}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </div>
            </div>
        {{/if}}
    {{/get}}
{{/if}}
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}

{{/contentFor}}
